.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
            "header header"
            "sidebar main"
            "footer footer";
    min-height: 100vh;
    width: 100%;
    margin: auto;
    background-color: #c9c7c7;
}

.header {
    grid-area: header;
    background-color: #0a4d8d;
    color: white;
    text-align: center;
    padding: 10px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.sidebar a {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.grid-container {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 15px;
}

.grid-item img {
    background-color: white;
    width: 250px;
    height: auto;
    object-fit: contain;
}

.grid-item h4 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.grid-item p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.grid-item button {
    background-color: #0a4d8d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grid-item button:hover {
    background-color: #083a6b;
}


.footer {
    grid-area: footer;
    background-color: #0a4d8d;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}   